In [1]:
#import all necessary liberty

%matplotlib inline
#import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn.metrics import confusion_matrix

import pandas as pd

#missing value handle
from sklearn.preprocessing import Imputer


#from sklearn.preprocessing import Imputer
#import impute.SimpleImputer from sklearn
#import impute.SimpleImputer from sklearn

#To shuffle the data set
from sklearn.utils import shuffle

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Activation
from keras.layers import Dropout
from keras.optimizers import SGD
from keras.optimizers import Adam
#from sklearn.utils import shuffle
import csv

#spliting dataset into traning set and test set
from sklearn.model_selection import train_test_split
import itertools
import sys

Using TensorFlow backend.

In [2]:
#import csv data_set

#data_frame = pd.read_csv('./data-withoutapp.csv',na_values=['NA','?'])
data_frame = pd.read_csv('./data-withoutapp.csv')
d=data_frame

data_frame.shape

(835, 15)

In [3]:
print (data_frame.isnull().values.any())

True

In [4]:
data_frame.head(3)

,Age,Sex,Smoking,HTN,DLP,DM,Physical Exercise,Family History,Drug History,Psychological Stress,Chest Pain,Dyspnea,Palpitation,ECG,IHD-HeartAttack
0,65,Male,no,yes,no,yes,no,no,yes,no,yes,no,no,abnormal,Yes
1,48,Male,no,yes,no,yes,no,no,yes,no,yes,no,no,abnormal,No
2,80,Male,ex,yes,no,yes,yes,no,yes,no,no,no,no,abnormal,Yes

In [5]:
# check if any data is messing(is NULL)

data_frame.isnull()

print (data_frame.isnull().values.any())

True

In [6]:
#feature "Age" strin to innteger
for i in range(len(data_frame['Age'])):
    #data_frame['Age'][i] = int(data_frame['Age'][i])
    if(type(data_frame['Age'][i])==float or data_frame['Age'][i]=="?"):
        data_frame['Age'][i] = '-20'
        
for i in range(len(data_frame['Age'])):
    data_frame['Age'][i] = int(data_frame['Age'][i])

In [8]:
#Replace messing value with NONE
for i in range(len(data_frame)):
    for key in data_frame:
        if data_frame[key][i] == '?' :
            data_frame[key][i] = None

In [9]:
for i in data_frame.keys():
    print(i)

Age
Sex
Smoking
HTN
DLP
DM
Physical Exercise
Family History
Drug History
Psychological Stress
Chest Pain
Dyspnea
Palpitation
ECG
IHD-HeartAttack

In [10]:
#15
#Mapping the "output" values
map_output = {"Yes" : 1, "No" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['IHD-HeartAttack']	=	data_frame['IHD-HeartAttack'].map(map_output)

#data_frame['IHD-HeartAttack']

In [14]:
#2
#Mapping "gender" feature
map_output = {"Male" : 1, "Female" : 2,None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Sex']	=	data_frame['Sex'].map(map_output)

#data_frame['Sex']

In [15]:
#3
#Mapping "Smoking" feature
map_output = {"yes" : 1, "no" : 0, "ex" : 2, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Smoking']	=	data_frame['Smoking'].map(map_output)

#data_frame['Smoking']

In [16]:
#4
#Mapping "HTN" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['HTN']	=	data_frame['HTN'].map(map_output)

#data_frame['HTN']

In [17]:
#5
#Mapping "Smoking" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['DLP']	=	data_frame['DLP'].map(map_output)

#data_frame['DLP']

In [18]:
#6
#Mapping "DM" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['DM']	=	data_frame['DM'].map(map_output)

#data_frame['DM']

In [19]:
#7
#Mapping "Physical Exercise" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Physical Exercise']	=	data_frame['Physical Exercise'].map(map_output)

#data_frame['Physical Exercise']

In [20]:
#8
#Mapping "Family History" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Family History']	=	data_frame['Family History'].map(map_output)

#data_frame['Family History']

In [21]:
#9
#Mapping "Drug History" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Drug History']	=	data_frame['Drug History'].map(map_output)

#data_frame['Drug History']

In [22]:
#10
#Mapping "Psychological Stress" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Psychological Stress']	=	data_frame['Psychological Stress'].map(map_output)

#data_frame['Psychological Stress']

In [23]:
#11
#Mapping "Chest Pain" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Chest Pain']	=	data_frame['Chest Pain'].map(map_output)

#data_frame['Psychological Stress']

In [24]:
#12
#Mapping "Dyspnea" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Dyspnea']	=	data_frame['Dyspnea'].map(map_output)

#data_frame['Dyspnea']

In [25]:
#13
#Mapping "Palpitation" feature
map_output = {"yes" : 1, "no" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['Palpitation']	=	data_frame['Palpitation'].map(map_output)

#data_frame['Palpitation']

In [26]:
#14
#Mapping "ECG" feature
map_output = {"abnormal" : 1, "normal" : 0, None:-20}

#	Setting	the	map	to	the	data_frame 
data_frame['ECG']	=	data_frame['ECG'].map(map_output)

#data_frame['ECG']

In [27]:
data_frame = shuffle(data_frame)

In [28]:
data_frame.head(2)

,Age,Sex,Smoking,HTN,DLP,DM,Physical Exercise,Family History,Drug History,Psychological Stress,Chest Pain,Dyspnea,Palpitation,ECG,IHD-HeartAttack
776,50,1,0,0,0,1,0,1,0,0,1,0,0,0,0
284,55,1,1,0,0,1,0,0,1,1,1,0,0,1,1

In [29]:
len(data_frame.loc[652])

15

In [30]:
X = data_frame.values

In [31]:
len(X[0])

15

In [32]:
X[0]

array([50, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=object)

In [33]:
X[0][0]

50

In [36]:
#Impute with mean all 0 readings(replacing messing value)

fill_0 = Imputer(missing_values=-20, strategy="median", axis=0)

#fill_0 = Imputer(missing_values=0, strategy="mean", axis=0)

X = fill_0.fit_transform(X)

/home/sakib/.local/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [37]:
len(X[0])

15

In [38]:
X[0]

array([50.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.])

In [39]:
with open('data.tab', 'w') as datafile:    
    writer = csv.writer(datafile, delimiter='\t')
    for index in range(len(X)):
        writer.writerow(X[index])

In [27]:
dataframe = pd.read_csv('data.tab', sep='\t')
dataset = dataframe.values
len(dataframe)

834