In [1]:
#import all necessary liberty

%matplotlib inline
#import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn.metrics import confusion_matrix

import pandas as pd

#missing value handle
from sklearn.preprocessing import Imputer

#To shuffle the data set
from sklearn.utils import shuffle

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Activation
from keras.layers import Dropout
from keras.optimizers import SGD
from keras.optimizers import Adam
#from sklearn.utils import shuffle
import csv

#spliting dataset into traning set and test set
from sklearn.model_selection import train_test_split
import itertools
from sklearn.model_selection import KFold

Using TensorFlow backend.

In [21]:
data_frame = pd.read_csv('data.tab', sep='\t')

len(data_frame)

834

In [22]:
data_frame.head(2)

,50.0,1.0,0.0,0.0.1,0.0.2,1.0.1,0.0.3,1.0.2,0.0.4,0.0.5,1.0.3,0.0.6,0.0.7,0.0.8,0.0.9
0,55.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
1,47.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#suffle the data set
np.random.seed(40)
df = data_frame.reindex(np.random.permutation(data_frame.index))
df.reset_index(inplace=True,drop=True)

In [24]:
data_set = df.values

In [25]:
X = data_set[:,:14]
Y = data_set[:,14:]

In [26]:
data_frame.head(2)

,50.0,1.0,0.0,0.0.1,0.0.2,1.0.1,0.0.3,1.0.2,0.0.4,0.0.5,1.0.3,0.0.6,0.0.7,0.0.8,0.0.9
0,55.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
1,47.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
kf = KFold(6)

In [ ]:
oos_y = []
oos_preed = []
fold = 0

In [33]:
for train,test in kf.split(X):
    fold += 1
    x_train = X[train]
    y_train = Y[train]
    x_test = X[test]
    y_test = Y[test]
    
    model = Sequential([
    Dense(16,input_shape=(14,),activation="relu"),
    Dense(32,activation="relu"),
    Dense(32,activation="relu"),
    Dense(40,activation="relu"),
    Dense(54,activation="relu"),
    Dense(2,activation="softmax")
    ])

    model.compile(
        Adam(lr=.0001),loss='sparse_categorical_crossentropy',metrics=['accuracy']
    )
    
    model.fit(X_train, Y_train,batch_size=25,epochs=200,shuffle=True,verbose=2)
    
    rounded_predections = model.predict_classes(X_test,batch_size=10,verbose=0)

[[59.  1.  0. ...  0.  0.  1.]
 [45.  2.  0. ...  1.  0.  1.]
 [42.  2.  0. ...  0.  0.  0.]
 ...
 [30.  2.  0. ...  1.  0.  0.]
 [70.  1.  0. ...  0.  0.  1.]
 [69.  1.  0. ...  0.  1.  1.]]


[[43.  2.  0. ...  0.  0.  0.]
 [42.  1.  0. ...  0.  0.  0.]
 [35.  1.  1. ...  1.  1.  0.]
 ...
 [75.  1.  0. ...  1.  0.  1.]
 [50.  2.  0. ...  0.  1.  1.]
 [80.  1.  0. ...  1.  0.  1.]]


[[35.  1.  1. ...  0.  0.  1.]
 [70.  1.  1. ...  1.  0.  1.]
 [59.  1.  0. ...  1.  0.  0.]
 ...
 [49.  1.  0. ...  0.  1.  1.]
 [65.  1.  0. ...  0.  0.  0.]
 [89.  1.  1. ...  0.  1.  1.]]


[[45.  1.  1. ...  0.  0.  1.]
 [25.  1.  0. ...  0.  0.  1.]
 [49.  1.  0. ...  0.  0.  1.]
 ...
 [65.  1.  0. ...  1.  0.  1.]
 [60.  1.  0. ...  0.  1.  1.]
 [85.  1.  2. ...  0.  0.  1.]]


[[30.  2.  0. ...  0.  0.  0.]
 [43.  1.  0. ...  0.  1.  0.]
 [60.  1.  0. ...  1.  0.  1.]
 ...
 [33.  1.  1. ...  0.  0.  0.]
 [46.  1.  2. ...  0.  0.  1.]
 [29.  1.  0. ...  0.  1.  0.]]


[[50.  1.  0. ...  0.  0.  1.]
 [60.  2.  0. ...  0.  0.  1.]
 [54.  2.  0. ...  0.  1.  0.]
 ...
 [37.  1.  1. ...  0.  0.  1.]
 [42.  1.  0. ...  1.  1.  1.]
 [45.  2.  0. ...  1.  0.  0.]]