In [44]:
#import all necessary liberty

%matplotlib inline
#import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.model_selection import KFold

from scipy.stats import zscore

import pandas as pd

#missing value handle
from sklearn.preprocessing import Imputer

#To shuffle the data set
from sklearn.utils import shuffle

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Activation
from keras.layers import Dropout
from keras.optimizers import SGD
from keras.optimizers import Adam
#from sklearn.utils import shuffle
import csv

#spliting dataset into traning set and test set
from sklearn.model_selection import train_test_split
import itertools

import os


from keras.models import Sequential
from keras.layers.core import Dense, Activation
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics

In [35]:
#import csv data_set

data_frame = pd.read_csv('./data-withoutapp.csv',na_values=['NA','?']) # replace missin value with NaN

d=data_frame

data_frame.shape

(835, 15)

In [36]:
#suffle the data set
np.random.seed(40)
df = data_frame.reindex(np.random.permutation(data_frame.index))
df.reset_index(inplace=True,drop=True)

In [37]:
df.head(2)

,Age,Sex,Smoking,HTN,DLP,DM,Physical Exercise,Family History,Drug History,Psychological Stress,Chest Pain,Dyspnea,Palpitation,ECG,IHD-HeartAttack
0,94.0,Male,no,yes,no,yes,yes,no,yes,no,yes,yes,no,NaN,Yes
1,60.0,Male,no,yes,no,yes,no,yes,yes,no,yes,no,no,abnormal,Yes

In [38]:
df.drop('Age',1,inplace=True) #drop a colum

In [39]:
df.head(2)

,Sex,Smoking,HTN,DLP,DM,Physical Exercise,Family History,Drug History,Psychological Stress,Chest Pain,Dyspnea,Palpitation,ECG,IHD-HeartAttack
0,Male,no,yes,no,yes,yes,no,yes,no,yes,yes,no,NaN,Yes
1,Male,no,yes,no,yes,no,yes,yes,no,yes,no,no,abnormal,Yes

In [41]:
missing_median(df,'ECG')

NameError: name 'missing_median' is not defined

In [45]:
kf = KFold(5)

In [47]:
x,y = to_xy(data_frame,"mpg")

NameError: name 'to_xy' is not defined